doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 - Page Not Found
        style 
            include ./css/index.css
            include ./css/404.css
            
    body

        include ./partials/nav.pug
        
        h1#title 404 - Page Not Found
        p#desc Sorry, the page you are looking for does not exist.

        .goBack
            a(href='/')
                | Go Back