html 
    head 
        title
            = movie.name 
            |  - MovieDB 
        style 
            include ./css/index.css
            include ./css/movie.css
    body
        include ./partials/nav.pug
        
        h1#title
            = movie.name


        .movie-details
            
            li.card#details
                div
                    img(src=movie.imgUrl, alt=movie.name, srcset="")
                    div#description
                div.d
                    p#description 
                        = movie.description
                    p#genre
                            = movie.genre
                    p#date
                             = new Date(movie.releaseDate).getFullYear()
                    p#rating
                        = movie.votes
                    .btns
                        button.btn(type="button", onclick=`addVote('${movie.id}')`)
                            | Up Vote
                        button.btn(type="button", onclick=`removeVote('${movie.id}')`)
                            | Down Vote
            

                
                
        .goBack
            a(href='/')
                | Go Back
    
                        
                        

                        
        script 
            include ./js/index.js


